
.content .heading {
  color: #212529;
  margin-bottom: 4%;
  font-size: 4vw; /* Adjusted font size for heading */
  font-weight: bold; /* Set font weight to bold */
  text-align: left; /* Align text to the left */
  letter-spacing: -2%;
  font-weight: 700;
}


.description {
  text-align: left; /* Align text to the left */
}

.description p {
  margin: 0; /* Remove all margins */
  padding: 0; /* Remove all padding */
}

.how-it-works .description {
  color: #212529;
}

.how-it-works .data-collection-we {
  font-weight: 700;
  font-size: 2.2vw;
  line-height: 3vw;
  letter-spacing: -2%;
}

.how-it-works .text-wrapper-2 {
  font-weight: 600;
  font-size: 1.5vw;
  font-weight: 600;
  line-height: 2vw;
  letter-spacing: -2%;
}
.how-it-works .div {
  color: #ffffff;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .content .heading {
    font-size: 6vw;
  }
  .how-it-works .data-collection-we {
    font-size: 3vw;
    line-height: 4vw;
  }
  .how-it-works .text-wrapper-2 {
    font-size: 2vw;
    line-height: 3vw;
  }
  
}