.realtime{
    padding: 4%;
}
.realtime .block{
    margin: 4% auto;
}
.realtime .block .content1 h1{
    font-weight: 700;
    font-size: 3.5vw;
    text-align: left;
    color: #212529;
    z-index: 1;
}
.realtime .block .content1 .headline .text .element{
    position: absolute; 
}
.realtime .block .content1 .headline .text .element svg{
    margin-top: 0vw;
    width: 30vw;
}
.realtime .block .content1 .headline .text p{
    font-weight: 400;
    font-size: 1.5vw;
    color: #212529;
    text-align: left;
    margin: 4% 8% 4% 0;
}
.realtime .block .content1 .headline .Btn{
    width: 50%;
    border-radius: 1rem;
    padding: 2%;
    background-color: #4F9CF9;
}
.realtime .block .content1 .headline .Btn p{
    margin: auto;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 23px;
    letter-spacing: -2%;
    color: #FFFFFF;
}
.content2 .headline .text{
    display: flex;
    flex-direction: column;
}
.content2 .headline .text #linedesign{
    position: absolute;
}

.content2 .headline .text h1{
    z-index: 1;
    margin: 4% ;
    font-weight: 700;
    font-size: 4vw;
    letter-spacing: -2%;
    text-align: left;
}
.content2 .headline .text p{
    margin: 4%;
    font-weight: 400;
    font-size: 1vw;
    letter-spacing: -2%;
    color: #212529;
    text-align: left    ;
}
.content2 .headline .Btn{
    width: 50%;
    border-radius: 1rem;
    padding: 2%;
    background-color: #4F9CF9;
}
.content2 .headline .Btn p{
    margin: 0;
    font-weight: 500;
    font-size: 1.5vw;
    letter-spacing: -2%;
    color: #FFFFFF;
}
#linedesign svg{
    width: 25vw;
    margin-top: 3vw;
}
.content2 .headline .Btn .icon{
    width: 10%;
    margin: 0 0 0 3%;
}
@media only screen and (max-width: 768px) {
    .realtime .block .content1 h1{
        font-size: 5vw;
    }
    .realtime .block .content1 .headline .text .element svg{
        margin-top: 2vw;
        width: 30vw;
    }
    .realtime .block .content1 .headline .text p{
        font-size: 2.5vw;
    }
    .realtime .block .content1 .headline .Btn p{
        font-size: 2.5vw;
    }
    .content2 .headline .text h1{
        font-size: 5vw;
    }
    .content2 .headline .text p{
        font-size: 2.5vw;
    }
    .content2 .headline .Btn p{
        font-size: 2.5vw;
    }
}