.unlock {
  background-color: #043873;
  padding: 5%;
}
.unlock .unlock-insights {
  color: #ffffff;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: -2%;
  text-align: left;
}
.unlock .text-wrapper {
  color: #ffffff;
  margin-top: 2%;
  font-size: 1.5vw;
  text-align: left;
}

.unlock .college-entrance {
  max-width: 80%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .unlock .unlock-insights {
    font-size: 6vw;
  }
  .unlock .text-wrapper {
    font-size: 3vw;
    margin-bottom: 5vw;
  }
}
