:root {
   
    --secondary-color: #ffffff;
    --border-color: #dadada;
    --box-shadow-color: rgba(0, 0, 0, 0.35);
    --font-family-main: 'Inter', sans-serif;
    --font-family-alt: 'DM Sans', sans-serif;
    --font-size-large: 32px;
    --font-size-medium: 18px;
    --font-size-small: 14px;
    --font-weight-semi-bold: 600;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --border-radius: 10px; /* Adjust radius for rounded rectangle */
    --box-shadow: 0px 0px 20px 4px var(--box-shadow-color);
  }
  